@model CentralSportV1._0._1.Models.AdminCreatePoduzeće

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/SharedPagesLayout.cshtml";
}

<br />
<h2 class="text-md-center" style="color:yellow">Stvori novo poduzeće u bazi podataka</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="text-md-center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Username
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Lozinka
                @Html.EditorFor(model => model.lozinka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lozinka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Ime poduzeća
                @Html.EditorFor(model => model.imePoduzeće, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imePoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Primarna djelatnost poduzeća
                @Html.DropDownListFor(model => model.primarnaDjelatnostPoduzeće, Model.PrimarneDjelatnosti, "Odaberite djelatnost", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.primarnaDjelatnostPoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Opis poduzeća
                @Html.TextAreaFor(model => model.opisPoduzeće, new { @id = "opisKorisnikaId", @class = "form-control", @style = "resize: none" })
                <div id="counter" class="text-md-right"></div>
                @Html.ValidationMessageFor(model => model.opisPoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Kontakt email
                @Html.EditorFor(model => model.kontaktEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kontaktEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Kontakt telefon
                @Html.EditorFor(model => model.kontaktTelefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kontaktTelefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Grad poduzeća
                @Html.DropDownListFor(model => model.gradPoduzeće, Model.Gradovi, "Odaberite grad", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.gradPoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Županija poduzeća
                @Html.DropDownListFor(model => model.županijaPoduzeće, Model.Županije, "Odaberite županiju", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.županijaPoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5" style="margin:auto">
                Ulica poduzeća
                @Html.EditorFor(model => model.ulicaPoduzeće, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ulicaPoduzeće, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 text-md-center">
                <input type="submit" value="Stvori novo poduzeće" class="btn btn-primary" />
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}

<div class="Boja">
    <br />
    @Html.ActionLink("Natrag", "PoduzećeManagePanel")
    <br />
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src=@Url.Content("/Content/BrojanjeSlova/MaxLength.min.js")></script>

<script type="text/javascript">
    $(function () {
        //Specifying the Character Count control explicitly
        $("[id*=opisKorisnikaId]").MaxLength(
            {
                MaxLength: 5000,
                CharacterCountControl: $('#counter')
            });
    });
</script>